osx_image: xcode11.3
language: objective-c
install: true
script: Scripts/cibuild
deploy:
  provider: releases
  api_key: "$GITHUB_OAUTH_TOKEN"
  file: Platinum.framework.zip
  skip_cleanup: true
  on:
    tags: true
